In [ ]:
# This plots BIC values for different permutations of coefficients

# Created 2020 Mar 10 by E.S.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df2 = pd.read_csv("data/test_bic_output.csv",delimiter=";")

In [3]:
df2

,"('f', 'g', 'h', 'k', 'm', 'n')",-85.67271208165431,10,108,31.66888665399313,108.1,[ 2.23535531e+01 -2.60494140e+00 1.06749709e+01 -8.95734220e-01
0,1.28187489e-01 1.34855452e+00 2.45785445e-...,NaN,NaN,NaN,NaN,NaN,NaN
1,-2.19815048e-03 2.38082641e-02],7X2ZMRE,NaN,NaN,NaN,NaN,NaN
2,"('NaN1',)",168.61055973367195,4.0,108.0,432.649463,108.0,[ 1.21768692e+01 -7.52340435e-01 3.76117382e+...
3,5.00000000e-21 5.00000000e-21 5.00000000e-...,NaN,NaN,NaN,NaN,NaN,NaN
4,5.00000000e-21 5.00000000e-21],POTSALS,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
126,6.59609984e-01 9.95024875e-21 5.41710803e-...,NaN,NaN,NaN,NaN,NaN,NaN
127,-5.05293104e-02 9.93926241e-02],JQH3HZH,NaN,NaN,NaN,NaN,NaN
128,"('h', 'm')",289.023136735165,6.0,108.0,1209.730614,108.0,[ 1.45700209e+00 1.18418654e+00 7.74356937e-...
129,4.97512438e-23 6.75968047e-21 5.00000000e-...,NaN,NaN,NaN,NaN,NaN,NaN
130,-2.31048980e-03 1.68485452e-21],7Y2QUQB,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.read_csv("data/test_bic_output.csv",names=["coeffs_array",
                                              "bic",
                                              "n_params",
                                              "n_samples",
                                              "ssr",
                                              "n_samples_dup",
                                              "pfinal",
                                              "res"],delimiter=";")

In [9]:
df = pd.read_csv("data/test_bic_output.csv",names=["coeffs_array",
                                              "bic",
                                              "n_params",
                                              "n_samples",
                                              "ssr",
                                              "n_samples_dup",
                                              "pfinal",
                                              "res"],delimiter=";")

In [6]:
df

,coeffs_array,bic,n_params,n_samples,ssr,n_samples_dup,pfinal,res
0,"('f', 'g', 'h', 'k', 'm', 'n')",-85.67271208165431,10.0,108.0,31.668887,108.0,[ 2.23535531e+01 -2.60494140e+00 1.06749709e+...,NaN
1,1.28187489e-01 1.34855452e+00 2.45785445e-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-2.19815048e-03 2.38082641e-02],7X2ZMRE,NaN,NaN,NaN,NaN,NaN,NaN
3,"('NaN1',)",168.61055973367195,4.0,108.0,432.649463,108.0,[ 1.21768692e+01 -7.52340435e-01 3.76117382e+...,NaN
4,5.00000000e-21 5.00000000e-21 5.00000000e-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
127,6.59609984e-01 9.95024875e-21 5.41710803e-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,-5.05293104e-02 9.93926241e-02],JQH3HZH,NaN,NaN,NaN,NaN,NaN,NaN
129,"('h', 'm')",289.023136735165,6.0,108.0,1209.730614,108.0,[ 1.45700209e+00 1.18418654e+00 7.74356937e-...,NaN
130,4.97512438e-23 6.75968047e-21 5.00000000e-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,-2.31048980e-03 1.68485452e-21],7Y2QUQB,NaN,NaN,NaN,NaN,NaN,NaN